@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
}

#textCss{
    font-family: 'Rubik Iso', cursive;
    font-style: italic;
    color: blue;
    letter-spacing: 2px;
    /* word-spacing: 2px; */
    /* direction: ltr; */
    /* paragraph starting tab spacing */
    /* text-indent: 50; */
    text-align: left;
    transform: uppercase;
}